altgraph==0.17.4
macholib==1.16.3
packaging==25.0
pip==25.2
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pynput==1.8.1
pyobjc-core==11.1
pyobjc-framework-applicationservices==11.1
pyobjc-framework-cocoa==11.1
pyobjc-framework-coretext==11.1
pyobjc-framework-quartz==11.1
pyside6==6.9.2
pyside6-addons==6.9.2
pyside6-essentials==6.9.2
setuptools==80.9.0
shiboken6==6.9.2
six==1.17.0
